<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <nav>
            <a href="./">главная</a>
            <a href="./input">ввод</a>
            <a href="./waypoints">по точкам маршрута</a>
            <a href="./days">по дням</a>
        </nav>

        {% block body %}
            <h1>главная</h1>
            <p>Кол-во дней на выполнение: {{days}}</p>
            <p>Всего кредитов нужно перед стартом: {{credits}}</p>
        {% endblock %}
    </body>
</html>